{% extends 'portal/base.html' %}

{% block content %}
<div class="row justity-content-center">
    <div class="col-md-6">
        <div class="card shadow border-0">
            <div class="card-header bg-white py-3">
                <h4 class="mb-0">{{ title }}</h4>
            </div>
            <div class="card-body p-4">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <hr>
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'core_org:dashboard' %}" class="btn btn-light">Cancel</a>
                        <button type="submit" class="btn btn-primary px-4">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}